/* CSS files add styling rules to your content */

body {
    margin: 0em;
    font-family: 'Alegreya', serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Nunito', serif;
}

.cover {
    color: white;
    height: 400px;
    background-image: url(https://cdn.glitch.com/7aa12eae-b684-4348-a95d-672f365ece49%2Fdesktop.jpg?v=1578544956390);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

.cover-small {
    height: 200px;
    background-blend-mode: normal;
}

.card {
    border: 0 !important;
    box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.75);
    /*box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.1), 0px 2px 4px -1px rgba(0,0,0,0.86);*/
}

.card-title {
    min-height: 5rem;
}

.card-text {
    min-height: 6rem;
}

.contact {
    background-color: rgb(219, 219, 219);
}

.page-footer {
    background-color: #343a40;
    color: white;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.75);
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}